/* .container{
    /* border: 2px solid gray;  */
    /* padding: 50px;  */
    text-align: center; 
    border-radius: 20px 0px 20px 0px; 
    /* background: silver */
}

/* #add-tasks{ */
    background: blue;
    color: white;
}

/* #clear-task{ */
    background: blue;
    color: white;
} */